[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:radleylewis/nvim.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
