[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:radleylewis/nvim.git
[submodule ".config/qtile"]
	path = .config/qtile
	url = git@github.com:radleylewis/qtile.git
[submodule ".config/zsh"]
	path = .config/zsh
	url = git@github.com:radleylewis/zsh.git
