@import "theme"

mainbox {
  children: [inputbar];
}

inputbar {
  border:          2px;
  border-color:    @active;
  padding:         6px;
  border-radius:   2px;
}

entry {
  text-color: @active;
}

prompt {
  font: "JetBrainsMono Nerd Font Mono ExtraBold 12";
}
